.media-block {
  h2 {
    padding-left: 15px;

    @include small-and-up {
      padding-left: 0;
    }
  }

  .video-embed, .video-player, .audio-embed, .audio-player {
    margin-bottom: 40px;

    @include large-and-up {
      margin-bottom: 60px;
    }

    @include x-large-and-up {
      margin-bottom: 80px;
    }
  }

  .video-embed {
    height: 240px;

    video[poster] {
      object-fit: inherit;
    }

    @include small-and-up {
      height: 240px;
    }

    @include medium-and-up {
      height: 400px;
    }

    @include large-and-up {
      height: 530px;
    }

    @include x-large-and-up {
      height: 630px;
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    @include medium-and-up {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
