.social-media-block {
  .social-media-embed {
    margin-bottom: 40px;

    @include large-and-up {
      margin-bottom: 60px;
    }

    @include x-large-and-up {
      margin-bottom: 80px;
    }
  }
}
