{% block media_video %}
	{% if ( fields ) %}
		<div class="media-block">
			{% if ( fields.title ) %}
				<header>
					<h2 class="page-section-header">{{ fields.title }}</h2>
				</header>
			{% endif %}
			<div class="{{ fields.type }}-embed">
				{% if fields.embed_html %}
					{{ fields.embed_html | raw }}
				{% else %}
					<p>Failed to embed media.</p>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}
