@font-face {
  font-family: sanctuary;
  src: url("assets/fonts/SanctuaryLC-Regular.otf");
}
@font-face {
  font-family: save-the-arctic;
  src: url("assets/fonts/save-the-arctic.otf");
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Kanit:400,500,600,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800");
@import url("https://fonts.googleapis.com/css?family=Anton:400,500,600,800");
@import url("https://fonts.googleapis.com/css?family=Amiko:400,500,600,800");
