// $slide-transition-speed should match SLIDE_TRANSITION_SPEED in carousel-header.js
$slide-transition-speed: .3s;
$text-slide-offset: 50px;

$small-image-height: 260px;
$medium-image-height: 600px;

// 0% and 20% are equal to simulate a delay without using animation-delay
@keyframes initial-header-animation {
  0% {
    transform: translateX(550px);
  }

  20% {
    transform: translateX(550px);
  }

  100% {
    transform: translateX(0);
  }
}

// 0% and 40% are equal to simulate a delay without using animation-delay
@keyframes initial-paragraph-animation {
  0% {
    transform: translateX(550px);
  }

  40% {
    transform: translateX(550px);
  }

  100% {
    transform: translateX(0);
  }
}

// 0% and 50% are equal to simulate a delay without using animation-delay
@keyframes initial-cta-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carousel-header_full-width-classic {
  position: relative;
  width: 100vw;

  &::after {
    content: "";
    display: block;
    margin-bottom: 40px;

    @include large-and-up {
      margin-bottom: 60px;
    }

    @include x-large-and-up {
      margin-bottom: 80px;
    }
  }

  .carousel-inner {
    position: relative;
    overflow: visible;
    height: 580px;
    padding-bottom: $n60;

    @include medium-and-up {
      height: 960px;
    }

    @include large-and-up {
      height: 620px;
    }

    .backgrounds-holder {
      @include fill-container;

      div {
        @include fill-container;
        z-index: 500;
        display: none;
      }
    }
  }

  .carousel-item {
    display: block;
    height: $small-image-height;
    position: absolute;
    top: 0;
    background-size: cover;
    opacity: 0;
    z-index: 3500;

    @include medium-and-up {
      height: $medium-image-height;
    }

    @include large-and-up {
      height: 100%;
    }

    img {
      display: none;
    }

    // Darken background
    &::after {
      @include fill-container;
      content: "";
      background: none;

      @include large-and-up {
        background: rgba(30, 30, 30, 0.45);
      }
    }

    &.initial {
      display: block;
      left: 0;
      z-index: 2000;
      opacity: 1;
      transition: unset;

      @include large-and-up {
        clip-path: inset(0 0 0 0);

        .carousel-caption .main-header {
          h1 {
            animation-name: initial-header-animation;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
          }

          p {
            animation-name: initial-paragraph-animation;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
          }

          .action-button {
            animation-name: initial-cta-animation;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
          }
        }
      }
    }

    &.active {
      display: block;
      left: 0;
      z-index: 2000;
      opacity: 1;
      transition: unset;

      @include large-and-up {
        clip-path: inset(0 0 0 0);
      }

      .carousel-caption .main-header {
        h1, p {
          transform: translateX(0);
          transition: unset;
        }

        .action-button {
          opacity: 1;
        }
      }
    }

    &.slide-left {
      clip-path: inset(0 100% 0 0);
      transition: clip-path $slide-transition-speed;

      .carousel-caption .main-header .carousel-captions-wrapper {
        h1, p {
          transition: transform #{ $slide-transition-speed } ease-in-out;
          transform: translateX(-$text-slide-offset);
        }
      }
    }

    &.slide-right {
      clip-path: inset(0 0 0 100%);
      transition: clip-path $slide-transition-speed;

      .carousel-caption .main-header .carousel-captions-wrapper {
        h1, p {
          transition: transform #{ $slide-transition-speed } ease-in-out;
          transform: translateX($text-slide-offset);
        }
      }
    }

    &.prev {
      z-index: 1000;
      display: block;
      opacity: 1;

      .carousel-caption .main-header .carousel-captions-wrapper {
        h1, p {
          transition: transform #{ $slide-transition-speed } ease-in-out;
          transform: translateX(0);
        }
      }
    }

    &.next {
      z-index: 1000;
      display: block;
      opacity: 1;

      .carousel-caption .main-header .carousel-captions-wrapper {
        h1, p {
          transition: transform #{ $slide-transition-speed } ease-in-out;
          transform: translateX(0);
        }
      }
    }

    .carousel-caption {
      position: relative;
      z-index: 2;
      text-align: left;
      top: $small-image-height;
      left: 0;
      padding-top: $n20;
      padding-bottom: $n70;
      padding-left: 24px;
      padding-right: 24px;
      background: $white;
      height: auto;

      @include medium-and-up {
        top: $medium-image-height;
        padding-top: $n40;
        padding-left: $n40;
        padding-right: $n40;
      }

      @include large-and-up {
        @include fill-container;
        padding: 0 0 $n60 0;
        padding-bottom: 0;
        background: none;
      }

      .carousel-captions-wrapper {
        @include large-and-up {
          width: 540px;
        }
        overflow: hidden;
        margin-left: -$text-slide-offset;
        padding-left: $text-slide-offset;
        margin-right: -$text-slide-offset;
        padding-right: $text-slide-offset;
      }

      .caption-overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        filter: blur(50px);
        height: 100%;
        width: 40%;
        position: absolute;
        opacity: 0;

        @include large-and-up {
          display: block;
          opacity: 1;
        }

        @include x-large-and-up {
          width: 580px;
        }
      }

      .main-header {
        color: $article-heading-color;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;

        @include large-and-up {
          padding-left: $n30;
          padding-right: 0;
          padding-top: 180px;
          padding-bottom: 32px;

          html[dir="rtl"] & {
            text-align: right;
            padding-right: $n30;
          }
        }

        @include x-large-and-up {
          padding-left: 0;
          padding-right: 0;
          padding-top: 180px;
          padding-bottom: 54px;
        }

        h1 {
          font-size: 1.75rem;
          margin-bottom: 10px;
          width: 70%;
          line-height: 1.2;
          font-weight: bold;
          color: $black;
          padding-left: 0;
          transition: unset;

          @include large-and-up {
            transform: translateX($text-slide-offset);
          }

          html[dir="rtl"] & {
            text-align: right;
            padding-right: 0;
          }

          @include medium-and-up {
            font-size: 2.5rem;
          }

          @include large-and-up {
            color: $white;
            margin-bottom: 20px;
            line-height: 1.2;
            width: 50%;
          }

          @include x-large-and-up {
            font-size: 3.5rem;
            line-height: 1.1;
            width: 60%;
          }
        }

        p {
          display: block;
          color: $black;
          font-family: $roboto;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          width: 100%;
          text-align: left;
          padding-left: 0;

          html[dir="rtl"] & {
            text-align: right;
            padding-right: 0;
          }

          @include medium-and-up {
            line-height: 1.6;
            margin-bottom: 24px;
            max-width: 320px;
            display: block;
          }

          @include large-and-up {
            transform: translateX($text-slide-offset);
            margin-bottom: 36px;
            color: $white;
          }

          @include x-large-and-up {
            font-size: 1.125rem;
            line-height: 1.6;
            max-width: 380px;
          }
        }

        .action-button {
          left: 0;
          right: 0;
          position: relative;
          font-family: $roboto;
          width: 100%;
          bottom: inherit;
          margin-top: 24px;
          text-align: center;
          max-width: 100%;
          padding-left: 0;
          padding-right: 0;

          @include small-and-up {
            width: auto;
            bottom: inherit;
            position: relative;
            margin-top: 24px;
          }

          @include medium-and-up {
            text-align: left;
            position: inherit;
            bottom: 60px;
            margin-top: 0;
            margin-left: 0;
            width: auto;

            html[dir="rtl"] & {
              text-align: right;
              margin-left: auto;
              margin-right: 0;
            }
          }

          .btn {
            font-size: 0.875rem;
            line-height: 58px;
            width: 80%;
            height: 60px;
            letter-spacing: 1px;
            font-weight: 900;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            html[dir="rtl"] & {
              font-size: 1.175rem;
              line-height: 2.5;
            }

            @include small-and-up {
              height: 54px;
              line-height: 51px;
            }

            @include medium-and-up {
              font-size: 1rem;
              width: 280px;

              html[dir="rtl"] & {
                font-size: 1.3rem;
                line-height: 2.5;
              }
            }
          }
        }
      }
    }
  }

  .carousel-control-prev {
    display: none;
    z-index: 4000;
    margin-left: 0;

    @include large-and-up {
      display: flex;
      top: 50%;
      margin-top: -46px;
      height: 92px;
      width: 78px;
      transition: transform .2s, background-color .2s;

      &:hover {
        background-color: rgba(0, 0, 0, .15);
        transform: translateX(-5px);
      }
    }

    .carousel-control-prev-icon {
      display: none;
      text-align: center;
      width: 24px;
      height: 46px;
      background: url("images/carousel-arrow-prev.png");
      background-size: cover;

      @include large-and-up {
        display: block;
        margin: auto;
      }
    }
  }

  .carousel-control-next {
    display: none;
    margin-right: 0;
    z-index: 4000;

    @include large-and-up {
      top: 50%;
      display: flex;
      margin-top: -46px;
      height: 92px;
      width: 78px;
      transition: transform .2s, background-color .2s;

      &:hover {
        background-color: rgba(0, 0, 0, .15);
        transform: translateX(5px);
      }
    }

    .carousel-control-next-icon {
      text-align: center;
      width: 24px;
      height: 46px;
      cursor: pointer;
      background: url("images/carousel-arrow-next.png");
      background-size: contain;
      display: none;

      @include large-and-up {
        display: block;
        margin: auto;
      }
    }
  }

  .carousel-indicators {
    z-index: 4000;
    position: absolute;
    transform: none;
    bottom: 0;
    margin: 0;
    right: auto;
    left: auto;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 5px;

    &.carousel-indicators-large {
      display: none;

      @include large-and-up {
        display: block;
      }
    }

    &.carousel-indicators-mobile {
      display: block;
      position: relative;
      width: 100%;
      text-align: center;
      padding-top: $n15;

      @include medium-and-up {
        text-align: right;
      }

      @include large-and-up {
        display: none;
      }
    }

    @include medium-and-up {
      width: auto;
    }

    @include x-large-and-up {
      padding-left: 0;
      margin-bottom: 40px;
    }

    li {
      background-color: rgba(0, 0, 0, 0.4);
      width: 40px;
      height: 3px;
      border-radius: 0;
      margin: 0 3px;
      cursor: pointer;
      display: inline-table;
      right: 0;

      @include large-and-up {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &.active {
        background: $black;
        @include large-and-up {
          background: $white;
        }
      }
    }
  }
}
