.counter-block {
  text-align: center;
  font-family: $roboto;
  margin-top: 48px;
  margin-bottom: 48px;

  .counter-target {
    display: block;

    line-height: 1;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 32px;
  }

  &.counter-style-plain {
    .counter-target {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 32px;
    }
  }

  .progress-container {
    background-color: $grey-20;
    height: 30px;
    margin-bottom: 32px;
    overflow: hidden;
  }

  .progress-bar {
    background-color: $dark-blue;
    height: 100%;
    transform: skew(-30deg, 0deg);
    margin-left: -10px;
  }

  .progress-arc {
    max-width: 225px;
    margin-bottom: -20px;

    fill: none;
    stroke-width: 3;

    .background {
      stroke: $grey-20;
    }

    .foreground {
      stroke: $dark-blue;
    }
  }

  .counter-text {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .counter-text-arc {
    font-weight: bold;
  }
}
